<p>Hello,</p>
<br>
<p><%= @user.name %> just invited you to a game of BATTLESHIP!</p>
<p>Go to the following <a href="http://localhost:3000/games/in_game_lobby/<%= @game.slug %>">link</a> to join the game!</p>
<br>
<p>Sincerely,</p>
<p>Covenant Battleship!</p>