// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#progress-container {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    height: 30px;
    background-color: grey;

    #progress-bar {
	    position: absolute;
	    width: 100%;
	    height: 100%;
	    background-color: red;

	    #label {
		    text-align: left; /* If you want to center it */
		    line-height: 30px; /* Set the line-height to the same as the height of the progress bar container, to center it vertically */
		    color: white;
		    margin-left: 5px;
		}
	}

}